@import (less) "pages.less.css";

@narrow-desktop-screen: ~"only screen and (max-device-width: 1599px)";
@wide-desktop-screen: ~"only screen and (min-device-width: 1600px)";

html {
	font-size: 7.2px;
	height: 100%;
	-webkit-font-smoothing: antialiased;
}

@media @wide-desktop-screen {
	html {
		font-size: 9.2px;
	}
}

body {
	font-family: "Paytone One";
	font-size: 2rem;
	color: #444;
	
	position: relative;
	height: 100%;
	
	&.hello {
		.body-theme(#8c3770, #7c3163);
	}
	
	&.the-3-colors {
		.body-theme(#f07241, #e46c3e);
	}
	
	&.portfolio {
		.body-theme(#4fac9b, #4ba494);
	}
	
	&.experiments {
		.body-theme(#cca395, #bf998c);
	}
}

h1, h2, h3, h4, h5, h6, p {
	font-weight: normal;
}

p {
	font-family: "Source Sans Pro";
}

a:focus {
	outline: none;
}

button, .btn {
	display: inline-block;
	padding: 2rem 4rem;
	font-family: "Source Sans Pro";
	font-size: 3rem;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	background: #f25b5b;
	border-bottom: 0.5rem solid #d45050;
	transition: background 0.25s ease;
		
	&:hover {
		background: #d45050;
	}
}

#wrapper {
	width: 120rem;
	margin: auto;
}

#background {
	width: 100%; height: 100%;
	position: fixed;
	z-index: -1;
}

#menu {
	> ul {
		margin: 0;
		padding: 1.5rem 0;
		
		background: white;	
		
		> li {
			display: inline-block;
			transition: box-shadow 0.25s ease;
			
			&.selected {
				a {
					color: white;
				}
			}
		
			a {
				text-decoration: none;
				text-transform: uppercase;
				display: inline-block;
				padding: 1rem 3rem;
			}
		}
	}
}

#copyright {
	height: 10rem;
	color: white;
	
	a {
		color: white;
		text-decoration: none;
		margin-left: 2rem;
		width: 4rem;
		height: 3rem;
		padding-top: 1rem;
		text-align: center;
		transition: box-shadow 0.25s ease;
	}
}

#view-wrapper {
	height: 74rem;
	background: white;
	overflow: hidden;
}

#view {
	position: relative;
	text-align: center;
	height: 100%;
	background: white;
}

#view.ng-enter {
	transition: 0.5s ease all;
	left: 100%;
}
 
#view.ng-enter.ng-enter-active {
	left: 0;
}

#acknowledge {
	color: #fff;
	height: 10rem;
}

.body-theme(@main-color, @dark-color) {
	@shadow-color: fade(darken(@dark-color, 7.5%), 40%);
	
	background: @dark-color;
	
	#copyright a:hover {
		box-shadow: 0 0 0 0.8rem @shadow-color;
	}
	
	#menu > ul, #view-wrapper {
		box-shadow: 0 1rem @shadow-color;
	}
	
	#menu > ul > li {
		&.selected {
			background: @main-color;
		}

		&:not(.selected) {
			a {
				color: @main-color;
			}
		}

		&:not(.selected):hover {
			box-shadow: 0 0 0 0.4rem @main-color; 
		}
	}
}