@main-color: #8c3770;
@dark-color: #7c3163;
@shadow-color: fade(darken(@dark-color, 7.5%), 40%);

@narrow-desktop-screen: ~"only screen and (max-device-width: 1599px)";
@wide-desktop-screen: ~"only screen and (min-device-width: 1600px)";

html {
	font-size: 7.2px;
	@media @wide-desktop-screen {font-size: 9.2px;}
	height: 100%;
	-webkit-font-smoothing: antialiased;
}

body {
	font-family: "Paytone One";
	font-size: 2rem;
	color: #444;
	background: @dark-color;
	
	position: relative;
	height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

p {
	font-family: "Source Sans Pro";
}

#wrapper {
	width: 120rem;
	margin: auto;
}

#background {
	width: 100%; height: 100%;
	position: fixed;
	z-index: -1;
}

#menu {
	&>ul {
		margin: 0;
		padding: 1.5rem 0;
		
		background: white;
		box-shadow: 0 1rem @shadow-color;
		
		&>li {
			display: inline-block;
			
			&.selected, &:hover, &:not(.selected):hover {
				background: @main-color;
				transition: background 0.25s ease;
				
				a {
					transition: color 0.25s ease;
					color: white;
				}
			}
		
			&:not(.selected) {
				transition: background 0.25s ease;
	
				a {
					transition: color 0.25s ease;
					color: @main-color;
				}
			}

			a {
				text-decoration: none;
				text-transform: uppercase;
				display: inline-block;
				padding: 1rem 2rem;
			}

		}
	}
}

#copyright {
	height: 10rem;
	color: white;
}

#view {
	height: 74rem;
	background: white;
	box-shadow: 0 1rem @shadow-color;
	text-align: center;
}