@letter-spacing: 0.2px;

html {
	font-kerning: normal;
	font-weight: lighter;
}

html, input, textarea, keygen, select, button {
	letter-spacing: @letter-spacing;
}

@media (min-width: 1600px) {
	body, input, .btn {
		font-size: 16px;
	}
}

.fp-controlArrow {
	transition: border-color 250ms ease;
	
	&.fp-prev {
		border-width: 20px 20px 20px 0;
		border-color: transparent fade(#fff, 20%) transparent transparent;
		
		&:hover {
			border-color: transparent fade(#fff, 90%) transparent transparent;
		}
	}

	&.fp-next {
		border-width: 20px 0 20px 20px;
		border-color: transparent transparent transparent fade(#fff, 20%);
		
		&:hover {
			border-color: transparent transparent transparent fade(#fff, 90%);
		}
	}
}		

.emboss {
	.background-image(linear-gradient(180deg, #fff 0%, #f5f5f5 100%));
	.box-shadow(0 1px 0 0 #fff inset, 0 1px 1px 1px fade(#000, 10%));
	text-shadow: 0 1px 0 #fff;
	font-weight: 600;
	
	&:active {
		background: #eee;
	}
	
	&.emboss-light {
		.background-image(linear-gradient(180deg, fade(#fff, 80%) 0%, fade(#f5f5f5, 80%) 100%));
		.box-shadow(0 1px 0 0 fade(#fff, 80%) inset, 0 1px 1px 1px fade(#000, 10%));
	}
}

body {
	&[data-page='intro'] {
		.emboss {
			color: #26ADE4;
		}
	}
	
	&[data-page='portfolio'] {
		.emboss {
			color: #3B8686;
		}
	}
	
	&[data-page='experiments'] {
		.emboss {
			color: #FF9F80;
		}
	}
	
	&[data-page='contacts'] {
		.emboss {
			color: #F67385;
		}
	}
}