@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/lesshat/build/lesshat.less";

@import "override.less";
@import "common.less";

#menu {
	position: fixed;
	top: 10px;
	z-index: 1;
	width: 100%;
	text-align: center;
	color: #fff;
	
	ul {
		list-style-type: none;
		display: inline-block;
		padding: 5px;
		margin: 0;
		border-radius: 50px;

		li {
			display: inline-block;
			padding: 10px;
			border-radius: 50px;
			
			a {
				color: inherit;
				text-decoration: none;
			}
			
			&:not(:last-child) {
				margin-right: 10px;
			}
			
			&.active {
				.emboss;
				transition: all 400ms ease;
			}
		}
	}
}

body {
	&[data-anchor='intro'] {
		#menu .active {
			color: #26ADE4;
		}
	}
	
	&[data-anchor='portfolio'] {
		#menu .active {
			color: #3B8686;
		}
	}
	
	&[data-anchor='experiments'] {
		#menu .active {
			color: #FF9F80;
		}
	}
	
	&[data-anchor='contacts'] {
		#menu .active {
			color: #F67385;
		}
	}
}

@media (max-width: @screen-xs) {
	#menu {
		top: 0;
		
		ul {
			border-radius: 0;
			white-space: nowrap;
			overflow-x: auto;
		}	
	}
}

.background {
	position: absolute;
	width: 100%;
	height: 100%;
	
	> div {
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0;
	}
	
	#intro {
		.background-image(linear-gradient(135deg, #9AF3F1 0%, #26ADE4 100%));
		opacity: 1;
	}
	
	#portfolio {
		.background-image(linear-gradient(135deg, #00D9B6 0%, #3B8686 100%));
	}
	
	#experiments {
		.background-image(linear-gradient(135deg, #FFC48C 0%, #FF9F80 100%));
	}
	
	#contacts {
		.background-image(linear-gradient(135deg, #FFAE95 0%, #F67385 100%));
	}
}

.full-page > .section {
	text-align: center;
	color: #fff;
	text-shadow: 0 2px 2px fade(#666, 20%);
	
	h1 {
		font-size: 72px;
	}
}

.show {
	height: 480px;
	
	.description {
		h1 {
			overflow: hidden;
			text-overflow: ellipsis;
		}
		
		text-align: left;
		overflow: hidden;
	}
	
	.image {
		img {
			width: 100%;
		}
	}
}