@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/lesshat/build/lesshat.less";

@font-family-sans-serif: source-sans-pro, sans-serif;

@letter-spacing: 0.2px;

html {
	font-kerning: normal;
}

html, input, textarea, keygen, select, button {
	letter-spacing: @letter-spacing;
}

.background {
	position: absolute;
	width: 100%;
	height: 100%;
	
	> div {
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0;
	}
	
	#intro {
		.background-image(linear-gradient(135deg, #9AF3F1 0%, #26ADE4 100%));
		opacity: 1;
	}
	
	#portfolio {
		.background-image(linear-gradient(135deg, #1DFEBD 0%, #00D9B6 100%));
	}
}

.section {
	text-align: center;
	color: #fff;
	
	h1 {
		font-weight: lighter;
		font-size: 72px;
		text-shadow: 0 3px 4px fade(#666, 40%);
	}
}
