.portfolio {
	h1 {
		padding-top: 4rem;
		margin: 0;
		margin-bottom: 2rem;
		
		span {
			font-family: "Source Sans Pro";
			font-weight: 300;
		}
	}
	
	h2 {
		font-family: "Source Sans Pro";
		font-style: italic;
		font-weight: 300;
	}

	.artwork-thumbnail {
		margin: 4rem auto;
		width: 54.6rem;
		height: 40rem;
		background: url(../img/iMac.svg);
		background-repeat: no-repeat;
  		background-size: 54.6rem 40rem;
  		
  		.thumbnail-wrapper {
  			width: 49.28rem;
  			height: 28rem;
  			position: relative;
  			top: 2.2rem;
  			margin: 0 auto;
  			cursor: pointer;
  			overflow: hidden;
  			
  			img {
  				width: 100%;
  				height: 100%;
  			}
  			
  			.thumbnail-overlay {
  				position: absolute;
  				top: -100%;
  				width: 100%;
  				height: 100%;
  				background: fade(#4fac9b, 75%);
  				transition: top 0.25s ease;
				color: white;
				text-decoration: none;
  			}
  			
  			&:hover .thumbnail-overlay {
  				top: 0;
  			}
  			
  			.thumbnail-shadow {
  				position: absolute;
  				top: 0;
  				width: 100%;
  				height: 100%;
  				box-shadow: inset 0 14rem 0 0 fade(#fff, 10%);
  			}
  		}
	}

	.artwork-dots {
		padding: 0;
	
		li {
			list-style-type: none;
			display: inline-block;
			width: 1rem; height: 1rem;
			border: 1px #4fac9b solid;
			margin-right: 1rem;
			padding: 0;
			cursor: pointer;
			transition: background 0.25s ease;
			
			&.focused {
				background: #4fac9b;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}
