.the-3-colors {
	& > h1 {
		padding-top: 4rem;
		margin: 0;
		margin-bottom: 6rem;
	}
	
	.color-blocks {
		padding: 0;
		display: inline-block;
		margin: auto;
		
		li {
			position: relative;
			list-style-type: none;
			display: inline-block;
			width: 30rem;
			height: 30rem;
			color: white;
			cursor: pointer;
			
			&:not(:last-child) {
				margin-right: 8rem;
			}
			
			.block-background {
				width: 100%; height: 100%;
				position: absolute;
			}
			
			h1 {
				position: relative;
				font-size: 13rem;
				margin: 0;
				padding-top: 2rem;
			}
			
			p {
				position: relative;				
				font-family: "Source Sans Pro";
				font-size: 3rem;
				font-weight: 300;
			}
			
		}
	}
	
	.color-content {
		position: relative;
		width: 90rem;
		margin: auto;
		margin-top: 6rem;
		padding: 2rem 0;
		background: #fafafa;
		
		#bubble-background {
			width: 105%;
			top: 0;
			bottom: 0;
			position: absolute;
		}
		
		small {
			position: absolute;
			top: 0;
			left: 4rem;
			width: 5rem;
			height: 5rem;
			z-index: 1;
				
			span {
				position: relative;
				z-index: 2;
				color: #fff;
				top: 1rem;
			}
		}
		
		h1 {
			position: relative;
			z-index: 1;
			font-family: "Source Sans Pro";
			font-weight: 700;
			font-size: 3rem;
		}
		
		p {
			position: relative;
			z-index: 1;
			font-style: italic;
		}
	}
	
	#badge-background {
		width: 100%; height: 100%;
		position: absolute;
	}
}
