<artworks-list>
	<artwork name="History Notes" time="Dec 2012" caption="Simply a delicious mixture of textures and colors." img="/dist/img/history-notes.png" link="http://zuyetawarmatik.deviantart.com/art/History-Notes-347163708"></artwork>
	<artwork name="The Bang of Chars" time="May 2013" caption="A brilliant composition of Blender and Photoshop." img="/dist/img/bang-of-chars.png" link="http://zuyetawarmatik.deviantart.com/art/The-Bang-Of-Chars-373725412"></artwork>
	<artwork name="WeatherMuse" time="Aug 2013" caption="Bring out the ultimate beauty of translucency." img="/dist/img/weather-muse.png" link="https://www.behance.net/gallery/10403173/WeatherMuse"></artwork>
	<artwork name="X'mas 2013 Special Project" time="Dec 2013" caption="Every year's end, I put all the best to welcome this beloved month." img="/dist/img/xmas-2013.png" link="https://www.behance.net/gallery/13338997/2013-Merry-Xmas-to-Everyone"></artwork>
	<artwork name="Japan Landmarks" time="May 2014" caption="A tribute to my encountered wonders in the Japan trip." img="/dist/img/japan-landmarks.png" link="https://www.behance.net/gallery/17879433/Japan-Landmarks"></artwork>	
</artworks-list>
<div id="public-portfolios" vertical layout center-justified center>
	<h1>Be nostalgic. Get to know all my work since 2010 in 2 published portfolios:</h1>
	<div>
		<a href="http://zuyetawarmatik.deviantart.com/" class="fa fa-deviantart" target="_blank"></a>
		<a href="https://www.behance.net/zuyetawarmatik" class="fa fa-behance" target="_blank"></a>
	</div>
</div>
<div id="float-btn" port-float-btn>
	<i class="fa fa-ellipsis-h"></i>
</div>