<!DOCTYPE html>
<html lang="en" ng-app="portfolio" class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		
		<meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Expires" content="0">
		
		<title>Zuyet Awarmatik's Portfolio</title>
		
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Reset CSS -->
		<link rel="stylesheet" href="/bower_components/html5-boilerplate/css/normalize.css">
		<link rel="stylesheet" href="/bower_components/html5-boilerplate/css/main.css">
		
		<!-- Polymer components -->
		<link rel="import" href="/bower_components/polymer/polymer.html">
		
		<!-- Webfont -->
		<link rel='stylesheet' href='/fonts/Paytone_One/Paytone_One.css'>
		<link rel='stylesheet' href='/fonts/Source_Sans_Pro/Source_Sans_Pro.css'>
		<link rel='stylesheet' href='/fonts/font-awesome-4.2.0/css/font-awesome.min.css'>
		
		<!-- Main CSS -->
		<link rel="stylesheet/less" type="text/css" href="/css/app.less.css">
		<link rel="stylesheet/less" type="text/css" href="/css/hello.less.css">
		<link rel="stylesheet/less" type="text/css" href="/css/the-3-colors.less.css">
		<link rel="stylesheet/less" type="text/css" href="/css/portfolio.less.css">
	</head>
	<body ng-controller="MainController" touch-action="auto" port-background ng-cloak>
		<div id="wrapper">
			<nav ng-controller="MenuController" id="menu">
				<ul horizontal layout around-justified>
					<li ng-repeat="menuItem in menuItems" id="{{menuItem.id}}" ng-class="{selected: pageId==menuItem.id}">
						<a ng-href="#/{{menuItem.id}}" ng-click="setSelectedItem(menuItem.id)">{{menuItem.caption}}</a>
					</li>
				</ul>
			</nav>
			<div id="copyright" horizontal layout center-justified center>
				<span>Zuyet Awarmatik 2014.
					<a href="http://zuyetawarmatik.deviantart.com/" class="fa fa-deviantart" target="_blank"></a>
					<a href="https://www.behance.net/zuyetawarmatik" class="fa fa-behance" target="_blank"></a>
					<a href="https://www.facebook.com/zuyetawarmatik" class="fa fa-facebook" target="_blank"></a>
					<a href="http://sg.linkedin.com/pub/bui-phuc-duyet/34/224/649" class="fa fa-linkedin" target="_blank"></a>
				</span>
			</div>
			<div id="view" ng-view ng-class="pageId"></div>
			<div id="acknowledge" horizontal layout center-justified center>
				Built with AngularJS and Google Polymer.
			</div>
		</div>
		
		<script src="/bower_components/platform/platform.js"></script>
		
		<script src="/bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
		<script src="/bower_components/less/dist/less-1.7.4.min.js"></script>
		<script src="/bower_components/angular/angular.min.js"></script>
		<script src="/bower_components/angular-route/angular-route.min.js"></script>
		<script src="/bower_components/angular-animate/angular-animate.min.js"></script>
		<script src="/bower_components/svg.js/dist/svg.min.js"></script>
		<script src="/bower_components/jquery/dist/jquery.min.js"></script>
		
		<script src="/js/common.js"></script>
		
		<script src="/js/app.js"></script>
		<script src="/js/services.js"></script>
		<script src="/js/controllers.js"></script>
		<script src="/js/filters.js"></script>
		<script src="/js/directives.js"></script>
	</body>
</html>
