.experiments {
	h1 {
		text-transform: uppercase;
		padding-top: 8rem;
		margin: 0;
	}

	h2 {
		margin-top: 10rem;
		font-family: "Source Sans Pro";
		font-style: italic;
		font-weight: 300;
	}
	
	#stripe-loading-wrapper {
		position: absolute;
		width: 100%;
		top: 25rem;
		bottom: 0;
	}
}