#view.experiments {
	h1 {
		text-transform: uppercase;
		padding-top: 8rem;
		margin: 0;
	}

	h2 {
		margin-top: 10rem;
		font-family: "Source Sans Pro";
		font-style: italic;
		font-weight: 300;
	}
	
	#stripe-loading-wrapper {
		position: absolute;
		width: 100%;
		top: 15rem;
		bottom: 0;
	}
	
	#stripe-loading {
		width: 30rem;
		height: 30rem;
		border-radius: 50%;
		
		background-size: 10rem 10rem;
		background-image: linear-gradient(
			135deg,
			#cca395 25%,
			#d8ad9e 25%,
			#d8ad9e 50%,
			#cca395 50%,
			#cca395 75%,
			#d8ad9e	75%,
			#d8ad9e
		);
		box-shadow: 0 0 1rem 0 #b38e82 inset;
		
		animation: barberpole 2.5s linear infinite;
	}
}

@keyframes barberpole {
	from { background-position: 0 0; }
	to   { background-position: 20rem 10rem; }
}